@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  padding: 0;
  margin: 0;
}
/* -------------  body -----------*/
body {
  background-color: #d3e6f4;
  font-family: sans-serif, Arial, Helvetica;
}
#main {
  width: 100%;
  height: 700px;
}
#logo {
  width: 80px;
}
#dogs {
  width: 500px;
}
header {
  border: 1px solid black;
}
section {
  border: 1px solid black;
}
nav {
  border: 1px solid red;
}

footer {
  border: 1px solid green;
}
aside {
  border: 1px solid yellow;
}

section,
aside {
  background-color: #e0f7fa;
}

header,
footer,
nav {
  background-color: #80deea;
}

h1 {
  display: inline;
}

nav ul li {
  display: inline;
}

ul {
  list-style-type: none;
}

aside {
  padding: 20px;
}
aside ul li {
  padding: 2px;
}
header {
  padding: 30px;
}

nav ul a {
  padding: 10px;
}

img {
  width: 100px;
  height: 100px;
}

section {
  padding: 20px;
}
header,
nav,
footer {
  display: flex;
  align-items: center;
}
