@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#D6E7F7;
}

header{
    display: flex;
    justify-content: space-between;
   /* border: solid 1px black;*/
    
}
header img{
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50px;
    
}
nav ul li{
    display: inline-block;
   margin-top: 20px;
   margin-right: 10px;
    
    
}/*
#serch{
    margin-right: 10px;

}*/
#serch{
    border: 1px solid silver;
    color: rgb(125, 115, 115);
    border-radius: 30px;
    padding: 2px;
    padding-left: 10px;
    background-color:rgb(237, 227, 227);
}
#Btn{
    width: 30px;
    margin-right: 10px;
}
#Titulo{
    font-family: Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    /*border: solid 1px rgb(113, 106, 106);*/
}
.imagDog,
.contImg{
    width: 1290px;
}



